@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=EB+Garamond&display=swap");

:root {
  --primary: blue;
  --secondary: white;
  --background: #fff0eb;
  --scale: 0.1;
  --space: 10vmin;
  --title-font: "IM Fell Great Primer", serif;
  --font-primary: "EB Garamond", serif;
  --font-heading: "IM Fell Great Primer", serif;
  --accent-color: rgb(0 114 255);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
}

@media (prefers-reduced-motion) {
  :root {
    --scale: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: hsl(0, 0%, 95%);
  background-color: hsl(0, 0, 0);
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  font-family: var(--font-primary);
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
nav {
  z-index: 1;
}

h1 {
  text-align: center;
}

h2,
h3 {
  clear: both;
}

nav ul {
  padding: 5px 0px;
  margin: 0;
  list-style: none;
  text-align: center;
}
nav ul > * {
  margin: 4px 2px 6px 2px;
  display: inline-block;
}
nav ul a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.85em;
  padding: 10px 15px;
  transition: all 0.4s;
}
nav ul a.active {
  border-bottom: 3px solid var(--accent-color);
  background: #ffffff22;
}
nav ul a:hover {
  background: #ffffff22;
  text-decoration: none;
}
.avatar-lockup {
  position: relative;
  width: 100vw;
}

.avatar {
  width: 220px;
  height: 220px;
  border-radius: 200px;
  display: block;
  border: 14px solid #ffffff22;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin: 1em auto;
}

.page-title {
  font-family: var(--title-font);
  font-size: 2.5em;
  position: absolute;
  text-shadow: 0 3px 13px var(--accent-color);
  width: 100vw;
  text-align: center;
  top: 188px;
}

.header {
  display: grid;
  place-items: center;
  height: 100vh;
}

iframe {
  max-width: 100%;
}

footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid black;
}

footer a,
button {
  text-decoration: none;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  margin: 0 0.3em;
  transition: all 0.3s;
  box-shadow: 0px 3px 13px var(--accent-color);
}

button,
.button {
  margin: 0 auto;
  background: var(--accent-color);
  min-width: 200px;
  border: 0;
  font-size: 0.85em;
  border-radius: 40px;
  box-shadow: none;
  color: white;
  padding: 0.5em 1.2em;
}

button:hover,
.button:hover {
  box-shadow: 0px 3px 13px var(--accent-color);
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  font-size: 2em;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  transform: rotate(-5deg);
  box-shadow: none;
}

footer a.yt:hover {
  color: #fb0006;
  box-shadow: none;
}

footer a.ig:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
}

footer a.tw:hover {
  color: #1d8dee;
}

footer a.fb:hover {
  background: linear-gradient(0deg, #094ada 0%, #1b9cfd 100%);
  color: white;
}

.header,
footer {
  position: relative;
  height: 370px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgb(0 17 101 / 50%)
    ),
    url(/static/img/sax_schematic.jpg);
  background-size: cover;
  background-position: center center;
  border-bottom: 10px solid black;
}

.section {
  transform-origin: center top;
  transform: scaleY(calc(1 - var(--scale)));
}

.section > * {
  transform-origin: center top;
  transform: scaleY(calc(1 / (1 - var(--scale))));
}

h2,
h3 {
  font-family: var(--font-heading);
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  line-height: 1.125;
  margin: 0;
  position: relative;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.content {
  position: relative;
  margin: -85vh auto 0;
  padding: var(--space);
  max-width: 80vw;
  width: calc(100% - var(--space));
  background: #000000dd;
  color: #ffffffee;
}

.content > * + * {
  margin-top: 2rem;
}

.image-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -2;
}

.image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    hsla(0, 0, 0, 0) 0%,
    hsla(0, 0, 0, 0.013) 8.1%,
    hsla(0, 0, 0, 0.049) 15.5%,
    hsla(0, 0, 0, 0.104) 22.5%,
    hsla(0, 0, 0, 0.175) 29%,
    hsla(0, 0, 0, 0.259) 35.3%,
    hsla(0, 0, 0, 0.352) 41.2%,
    hsla(0, 0, 0, 0.45) 47.1%,
    hsla(0, 0, 0, 0.55) 52.9%,
    hsla(0, 0, 0, 0.648) 58.8%,
    hsla(0, 0, 0, 0.741) 64.7%,
    hsla(0, 0, 0, 0.825) 71%,
    hsla(0, 0, 0, 0.896) 77.5%,
    hsla(0, 0, 0, 0.951) 84.5%,
    hsla(0, 0, 0, 0.987) 91.9%,
    hsl(0, 0, 0) 100%
  );
}

.copyright {
  position: absolute;
  bottom: 1em;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  border: 1px solid #ffffff;
  background: #ffffff33;
  color: white;
  border-radius: 10px;
}
article .rt {
  float: right;
  margin-left: 2em;
  transform: rotate(2deg);
}
article .lt {
  float: left;
  margin-right: 2em;
  transform: rotate(-2deg);
}
article img {
  border: 15px solid white;
}

article .fsImage img {
  max-width: 100% !important;
  height: auto !important;
  margin: 0 auto;
  display: block;
}

article .fsImage .caption {
  text-align: center;
  font-style: italic;
  margin: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid var(--accent-color);
  text-align: center;
  width: 33%;
}
table th {
  background-color: var(--accent-color);
  color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  border-bottom: 3px solid white;
}

.video-grid {
  display: flex;
}
.video {
  flex: 1;
  border: 1px solid #ffffff33;
  padding: 1em;
}
.video:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
.video:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.video iframe {
  border-radius: 10px;
}
.video h3 {
  font-size: clamp(1.5rem, 1.6vw, 2.5rem);
  margin-bottom: 0.5em;
}
.video p {
  font-size: 0.85em;
}

@media screen and (max-width: 1000px) {
  .video-grid {
    display: block;
  }
  .video {
    margin-bottom: 1em;
  }
  .video:first-child,
  .video:last-child,
  .video {
    border-radius: 10px;
    border: 1px solid #ffffff33;
  }
}
@media screen and (max-width: 800px) {
  nav ul a {
    padding: 8px;
  }
  .content {
    padding: calc(var(--space) / 2);
    max-width: 98vw;
  }
  article .rt,
  article .lt {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    transform: none;
  }

  article img {
    border: 5px solid white;
  }

  article .rt img,
  article .lt img {
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    display: block;
  }
  .resume-frame {
    display: none;
  }
}
