@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=EB+Garamond&display=swap");

:root {
  --background: white;
  --scale: 0.1;
  --space: 6vmin;
  --title-font: "Poiret One", serif;
  --font-primary: "EB Garamond", serif;
  --font-heading: "Poiret One", serif;
  --accent-color: rgb(0 6 28);
  --header-footer-accent-color: rgb(0 6 28 / 70%);
  --link-color: #0523d2;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background);
}

@media (prefers-reduced-motion) {
  :root {
    --scale: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: hsl(0, 0%, 95%);
  font-size: clamp(1rem, 5vw, 1.3rem);
  font-family: var(--font-primary);
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
nav {
  z-index: 1;
}

h1 {
  text-align: center;
}

h2,
h3 {
  clear: both;
}

nav ul {
  padding: 5px 0px;
  margin: 0;
  list-style: none;
  text-align: center;
}
nav ul > * {
  margin: 4px 2px 6px 2px;
  display: inline-block;
}
nav ul a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 20px;
  transition: all 0.4s;
}
nav ul a.active {
  border-bottom: 3px solid var(--accent-color);
  background: #ffffff22;
}
nav ul a:hover {
  background: #ffffff22;
  text-decoration: none;
}
.avatar-lockup {
  position: relative;
  width: 100vw;
}

.avatar {
  width: 220px;
  height: 220px;
  border-radius: 200px;
  display: block;
  border: 14px solid #ffffff22;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin: 1em auto;
}

.page-title {
  font-family: var(--title-font);
  font-size: 2.5em;
  position: absolute;
  text-shadow: 0 3px 13px var(--accent-color);
  width: 100vw;
  text-align: center;
  top: 188px;
}

.header {
  display: grid;
  place-items: center;
  height: 100vh;
}

iframe {
  max-width: 100%;
}

footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
}

footer a,
footer button {
  text-decoration: none;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  margin: 0 0.3em;
  transition: all 0.3s;
  box-shadow: 0px 3px 13px var(--accent-color);
}

button,
.button {
  margin: 0 auto;
  background: var(--accent-color);
  border: 0;
  font-size: 0.85em;
  border-radius: 40px;
  box-shadow: none;
  color: white;
  padding: 0.5em 1.2em;
}

button:hover,
.button:hover {
  box-shadow: 0px 3px 13px var(--accent-color);
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  font-size: 2em;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  transform: rotate(-5deg);
  box-shadow: none;
}

footer a.yt:hover {
  color: #fb0006;
  box-shadow: none;
}

footer a.ig:hover {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
}

footer a.tw:hover {
  color: #1d8dee;
}

footer a.fb:hover {
  background: linear-gradient(0deg, #094ada 0%, #1b9cfd 100%);
  color: white;
}

.header,
footer {
  position: relative;
  height: 350px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgb(255 255 255 / 100%),
      var(--header-footer-accent-color)
    ),
    url(/static/img/sax_schematic.jpg);
  background-size: cover;
  background-position: center center;
  border-bottom: 2px solid #eee;
}

.section {
  transform-origin: center top;
  transform: scaleY(calc(1 - var(--scale)));
}

.section > * {
  transform-origin: center top;
  transform: scaleY(calc(1 / (1 - var(--scale))));
}

h2,
h3 {
  font-family: var(--font-heading);
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  line-height: 1.125;
  margin: 0;
  position: relative;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.content {
  position: relative;
  margin: -85vh auto 0;
  padding: var(--space);
  max-width: 85vw;
  width: calc(100% - var(--space));
  background: #ffffffdd;
  color: #393939;
}

.content > * + * {
  margin-top: 2rem;
}

.image-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -2;
}

.image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    hsla(255, 255, 255, 0) 0%,
    /* hsla(0, 0, 0, 0) 0%,
    hsla(0, 0, 0, 0.013) 8.1%,
    hsla(0, 0, 0, 0.049) 15.5%,
    hsla(0, 0, 0, 0.104) 22.5%,
    hsla(0, 0, 0, 0.175) 29%,
    hsla(0, 0, 0, 0.259) 35.3%,
    hsla(0, 0, 0, 0.352) 41.2%,
    hsla(0, 0, 0, 0.45) 47.1%,
    hsla(0, 0, 0, 0.55) 52.9%,
    hsla(0, 0, 0, 0.648) 58.8%,
    hsla(0, 0, 0, 0.741) 64.7%,
    hsla(0, 0, 0, 0.825) 71%,
    hsla(0, 0, 0, 0.896) 77.5%,
    hsla(0, 0, 0, 0.951) 84.5%,
    hsla(0, 0, 0, 0.987) 91.9%, */
      hsl(255, 255, 255) 100%
  );
}

.copyright {
  position: absolute;
  bottom: 1em;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  border: 1px solid #ffffff;
  background: #ffffff33;
  color: black;
  border-radius: 10px;
}
article .rt {
  float: right;
  margin-left: 2em;
  transform: rotate(2deg);
}
article .lt {
  float: left;
  margin-right: 2em;
  transform: rotate(-2deg);
}
article img {
  border: 15px solid white;
}

article .fsImage img {
  max-width: 100% !important;
  height: auto !important;
  margin: 0 auto;
  display: block;
}

article .fsImage .caption {
  text-align: center;
  font-style: italic;
  margin: 0.5em;
  font-size: 0.8em;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid var(--accent-color);
  text-align: center;
  width: 33%;
}
table th {
  background-color: var(--accent-color);
  color: white;
  font-size: 0.7em;
  text-transform: uppercase;
  border-bottom: 3px solid white;
}

.video-grid {
  display: flex;
}
.video {
  flex: 1;
  border: 1px solid #00000033;
  padding: 1em;
}
.video:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
.video:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.video iframe {
  border-radius: 10px;
}
.video h3 {
  font-size: clamp(1.5rem, 1.6vw, 2.5rem);
  margin-bottom: 0.5em;
}
.video p {
  font-size: 0.85em;
}

.l-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.social-grid:hover {
  cursor: pointer;
}

.social-grid {
  text-align: center;
  line-height: 0.8em;
}

.social-grid li {
  max-width: 150px;
  overflow: hidden;
}

.social-grid .social-avatar {
  position: relative;
}

.social-grid .social-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--accent-color);
  color: white;
  width: 45px;
  height: 45px;
  border: 3px solid white;
  border-radius: 100px;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-grid p {
  margin: 0.5em 0 0.25em;
}

.social-grid a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.social-handle {
  font-size: 0.9em;
  color: var(--accent-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.social-grid img {
  border: 0;
  border-radius: 100px;
}

.docs .doc {
  height: 300px;
  width: 250px;
  background: white;
  margin: 0 1em 1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 4px;
  position: relative;
}

.docs img {
  border: 0;
}

.docs p {
  margin: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0.5em;
  background: var(--accent-color);
  color: white;
  font-size: 0.85em;
  transition: background-color 0.25s ease;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.docs p span {
  display: block;
  font-size: 0.9em;
  line-height: 0.85em;
  margin-bottom: 0.4em;
  opacity: 0.7;
}

.doc:hover p {
  background: black;
}

@media screen and (max-width: 1000px) {
  .video-grid {
    display: block;
  }
  .video {
    margin-bottom: 1em;
  }
  .video:first-child,
  .video:last-child,
  .video {
    border-radius: 10px;
    border: 1px solid #ffffff33;
  }
}
@media screen and (max-width: 800px) {
  nav ul a {
    padding: 8px;
  }
  .content {
    padding: calc(var(--space) / 2);
    max-width: 98vw;
  }
  article .rt,
  article .lt {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    transform: none;
  }

  article img {
    border: 5px solid white;
  }

  article .rt img,
  article .lt img {
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    display: block;
  }
  .resume-frame {
    display: none;
  }
}

/* flickity on by default */
.gallery:after {
  content: "flickity";
  display: none;
}
.gallery-cell {
  width: 85%;
  height: 500px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  padding: 2em;
  background: #ffffff99;
}

.sampleContainer {
  display: flex;
  gap: 1em;
  width: 100%;
  height: 100%;
}
.sampleMeta {
  width: 350px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.sampleMeta h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: white;
  font-size: 1.2em;
  background: #00000099;
  border-top-left-radius: 10px;
  width: 75%;
  text-align: right;
}
.sampleMp3 {
  flex: 1;
  overflow: auto;
  font-size: 0.9em;
}
.sampleMp3 p:first-of-type {
  margin-top: 0;
}
.mp3Container {
  margin: 0px 5px 20px;
}
.mp3Item {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
.mp3Item p {
  margin: 1em;
  padding: 0;
  padding-top: 10px;
  margin-bottom: -1px;
}
.mp3Item b {
  font-size: 0.85em;
  opacity: 0.6;
}
.flickity-viewport {
  overflow-y: visible;
  margin-bottom: 3em;
}
.gallery-cell:not(.is-selected) {
  opacity: 0.5;
}
.gallery:not(.js-flickity) .gallery-cell {
  opacity: 1;
  margin: 0 auto;
}
audio {
  width: 100%;
}
audio::-webkit-media-controls-panel {
  background-color: white;
}

@media screen and (max-width: 1250px) {
  .sampleContainer {
    display: block;
  }
  .sampleMeta {
    background: none !important;
  }
  .sampleMeta h3 {
    position: relative;
    padding: 0px;
    color: black;
    font-size: 2em;
    background: transparent;
    width: auto;
    text-align: left;
    margin-bottom: 10px;
  }
  .sampleMp3 {
    max-height: 95%;
  }
}

@media screen and (max-width: 500px) {
  .gallery:after {
    content: "";
  }
  .gallery-cell:not(.is-selected) {
    opacity: 1;
  }
  .gallery-cell {
    width: 100%;
    height: fit-content;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
    background: #ffffff99;
  }
  .hideOnMobile {
    display: none;
  }
  .docs .doc {
    display: block;
    margin: 0 auto 1em;
  }
}
