<footer class="footer">
    <a class="fb" title="Follow Xander Dawson on Facebook" href="https://www.facebook.com/xkdawson1"><i class="fab fa-facebook-f"></i></a>
    <a class="tw" title="Follow Xander Dawson on Twitter" href="https://twitter.com/xkdawson"><i class="fab fa-twitter"></i></a>
    <a class="ig" title="Follow Xander Dawson on Instagram" href="https://www.instagram.com/xkdawson1/"><i class="fab fa-instagram"></i></a>
    <a class="yt" title="Follow Xander Dawson on YouTube" href="https://www.youtube.com/channel/UCPfyuV99V6vOAUSYS7VrwZw"><i class="fab fa-youtube"></i></a>
    <div class="copyright">
        &copy;{% currentYear %} Xander Dawson
    </div>
</footer>
