<!doctype html>
<html lang="en" {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body translate="no" >

		<header class="header">
			<div class="avatar-lockup">
				<div class="page-title">Xander Dawson</div>
				<img src="/static/img/headshot.jpg" class="avatar" title="Xander Dawson" />
			</div>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
